/*убираем внешние отступы */
* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: #000000;
}

.top-line {
  padding-top: 14px;
  margin: auto;
  width: 60%;
  height: 44px;
}

.info {
  display: flex;
  float: left;
}

.info .icon {
  margin-right: 16px;
}

.phone {
  font: 12px/16px 'PT Sans', sans-serif;
  color: #969696;
}

.auth {
  display: flex;
  align-items: center;
  float: right;
}

.auth > .enter:hover {
  color: #ffffff;
}

.exit {
  margin-right: 12px;
  width: 14px;
  height: 14px;
}

.auth > :last-child {
  height: 16px;
  color: #969696;
}

.enter {
  font: 12px/16px 'PT Sans', sans-serif;
  width: max-content;
  color: #969696;
  text-decoration: none;
}

.second-line {
  margin: auto;
  width: 60%;
  height: 80px;
}

.second-line > .right {
  align-items: center;
  display: inline-flex;
  float: right;
}

.logo {
  width: 104px;
  height: 34px;
  margin-top: 15px;
  float: left;
}

.menu-item {
  display: inline-flex;
}

.menu-item li {
  cursor: pointer;
  padding: 0 20px;
  list-style-type: none;
  font: 14px/80px 'PT Sans', sans-serif;
  text-transform: uppercase;
  color: #969696;
}

.menu-item li:hover {
  color: #ffffff;
  background-color: #1f1f1f;
}

.rectangle {
  width: 1920px;
  height: 810px;
}

.top-content {
  flex-direction: column;
  display: flex;
  background-size: cover;
  background-image: url('../img/content.png');
  width: 100%;
  height: 810px;
}

.right > :not(:first-child) {
  cursor: pointer;
}

.cart {
  margin-left: 61px;
  width: 22px;
  height: 22px;
}

.lens {
  margin-left: 44px;
  width: 17px;
  height: 17px;
}

.body-logo {
  display: flex;
  align-items: center;
  margin: 160px auto 0;
  border: 4px solid #FFFFFF;
  width: 320px;
  height: 320px;
}

.main-logo {
  margin: 93px 68px 94px 67px;
}

.text-content {
  width: 730px;
  margin: 80px auto 0;
}

.text-info {
  font: 16px/24px 'PT Sans', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

.season-new-collection {
  display: flex;
}

.season {
  padding-top: 93px;
  text-align: center;
  background-color: #000000;
  width: 55%;
  height: 630px;
}

.season > span {
  color: #ffffff;
  font: 700 36px/48px 'Playfair Display';
  text-transform: uppercase;
}

.season > hr {
  margin-top: 50px;
}

.products {
  display: flex;
  justify-content: space-around;
}

.products .img {
  display: flex;
  align-items: center;
  background-color: #191B1C;
  width: 260px;
  height: 325px;
}

.products .img > img {
  width: 215px;
  height: 214px;
}

.products .info {
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  margin: 25px 0 40px;

}

.products .info span {
  color: #ffffff;
  font: 18px/24px 'Playfair Display';
}

.new-collection {
  background-size: cover;
  background-image: url("../img/bg-new-collection.png");
  width: 45%;
  height: 723px;
}

.new-collection .collection-text {
  text-align: center;
  padding-top: 484px;
}

.new-collection .collection-text span {
  color: #ffffff;
  font: 36px/58px 'Playfair Display';
  font-weight: bold;
  text-transform: uppercase;
}

.new-collection .collection-text hr {
  margin-top: 30px;
}

.collection-catalog {
  margin-top: 30px;
}

.collection-catalog button {
  border: 1px solid #FFFFFF;
  background-color: transparent;
  padding: 12px 28px;
  color: #ffffff;
  font: 18px/32px 'PT Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.previous-collection {
  display: flex;
}

.previous-collection img {
  width: 45%;
  height: 600px;
}

.prev-collection {
  width: 55%;
  height: 500px;
  background-color: #000000;
  text-align: center;
  padding-top: 100px;
}

.prev-collection span {
  padding-top: 100px;
  color: #ffffff;
  font: 36px/48px 'Playfair Display';
  text-transform: uppercase;
}

.prev-collection hr {
  margin-top: 40px;
}

.prev-collection-text {
  width: 471px;
  margin: 40px auto 0;
}

.prev-collection .prev-collection-text p {
  font: 14px/21px 'PT Sans';
  color: #ffffff;
  text-align: center;
}

.collection-button {
  margin: 61px auto 0;
}

.collection-button button {
  border: 1px solid #FFFFFF;
  background-color: transparent;
  padding: 12px 28px;
  color: #ffffff;
  font: 18px/32px 'PT Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.new-arrivals {
  text-align: center;
  padding-top: 120px;
  background-color: #000000;
  width: 100%;
  height: 1070px;
}

.nev-heading {
  font: bold 36px/48px 'Playfair Display';
  color: #ffffff;
  text-transform: uppercase;
}

.nev-heading hr {
  margin-top: 40px;
}

.new-arrivals .products {
  width: 47%;
  margin: 81px auto 0;
  flex-wrap: wrap;
}

